.mainNav{
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
}

.logo_home{
    height: 10rem;
    margin-top: 2rem;
}

.inputs{
    margin: 1rem 0 17rem 0;
    background-color: var(--color_light);
    width: 60%;
    height: 3rem;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input, .button{
    background-color: var(--color_light_2);
    color: black;
    border: none;
    border-radius: 3px;
    height: 60%;
}

button.button.btn.btn-secondary {
    background-color: var(--color_main);
    border: 1px solid var(--color_details);
    transition: .3s ease-out;
}

button.button.btn.btn-secondary:hover {
    background-color: var(--color_details);
    border: 1px solid rgb(14, 14, 14);
}

.button a{
    color: black;
    text-decoration: none;
}

.button a:hover{
    color: black;
    text-decoration: none;
}

.date{
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 1.7rem;
}

label{
    color: var(--color_details);
    padding-right: 5px;
}